#wrap_chatbot {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  height: 550px;
}

#chat-window {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 570px;
}

.main-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

#chat-messages {
  height: 445px;
  overflow-y: scroll;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

#chat-form {
  display: flex;
}

#chat-input {
  flex: 1;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}

#chat-form button {
  margin-left: 10px;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}



/*  CSS TIN NHẮN*/

 .message.user-message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #e2e2e2;
}
 .message.bot-message {
	 background-color: rgb(128, 255, 255);
 }


#icon_chatbot {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  margin-bottom: 5px;
}

.message.user-message span {
  font-size: 18px;
  line-height: 1.9;
  background-color: #e2e2e2;
  border-radius: 4px;
  padding: 8px;
  margin-top: 5px;
}

.message.bot-message span {
  font-size: 18px;
  line-height: 1.9;
  /*background-color: rgb(128, 255, 255);*/
  border-radius: 4px;
  padding: 8px;
  margin-top: 5px;
}









/* CSS cho combobox */
    #chat-options {
		margin-left: 5px;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 180px; /* Độ rộng của combobox */
         overflow: hidden; /* Ẩn phần nội dung vượt quá độ rộng */
    }

    /* CSS cho các option trong combobox */
    #chat-options option {
        padding: 8px;
    }